@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  /* --primary: ; */
  /* --secondary: ; */
  --accent: hsl(0 0% 0%);
  --spacing: clamp();
}

@keyframes grow {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background: var(--background);
    font-family: montserrat, sans-serif;
  }
  body:has(button[aria-expanded='true']) {
    overflow: hidden;
  }
}

@layer utilities {
  .hero {
    background-image: linear-gradient(to left, hsla(0, 0%, 100%, 0), white 50%),
      url(../../public/assets/images/street-map.svg);
    background-position-x: right;
    background-repeat: no-repeat;
  }
  .community {
    background: url(../../public/assets/images/cityscape.png) no-repeat;
  }
  .news-hero {
    background: url(../../public/assets/images/reforestation.png) no-repeat
      center;
    background-size: cover;
    background-attachment: fixed;
  }
  .internship {
    background: url(../../public/assets/images/internship.png) no-repeat;
  }
  .spacing {
    padding: var(--spacing);
  }
  /* .no-scroll {
    overflow: hidden;
  } */
  .article-container ul {
    list-style: disc;
  }
}

@layer components {
  button[aria-expanded='true'] .top-bar {
    @apply translate-y-1 rotate-45 bg-main;
  }
  button[aria-expanded='true'] .mid-bar {
    @apply hidden;
  }
  button[aria-expanded='true'] .bottom-bar {
    @apply -translate-y-0.5 -rotate-45 w-7 bg-main;
  }

  ::-webkit-scrollbar {
    width: 0.625rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 100vh;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}
