@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsla(0, 0%, 100%, 1);
  --spacing: clamp();
}

@layer base {
  body {
    background: var(--background);
    font-family: montserrat, sans-serif;
  }
}

@layer utilities {
  .hero {
    background: url(../../public/assets/images/hero.png) no-repeat;
  }
  .community {
    background: url(../../public/assets/images/cityscape.png) no-repeat;
  }
  .news-hero {
    background: url(../../public/assets/images/reforestation.png) no-repeat;
  }
  .internship {
    background: url(../../public/assets/images/internship.png) no-repeat;
  }
  .spacing {
    padding: var(--spacing);
  }
}

@layer components {
  .btn {
    @apply text-white bg-blue-500;
  }

  ::-webkit-scrollbar {
    width: 0.625rem;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 100vh;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
}
